<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<style>
  .loading-background{
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }

  .banner{
    height: 60vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1557318762-480326f15dc8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
  }

  .pageDisabled{
    pointer-events: none !important;
    opacity: 0.3 !important;
  }

  @media(max-width : 415px){
    .computerPagination{
      display: none !important;
    }
  }

  @media(min-width : 415px){
    .phonePagination{
      display: none !important;
    }
  }

  .footerBar{
    background-color: rgb(224, 224, 224);
    padding-top: 30px;
  }

  .footerBar .row{
    width: 100%;
  }
</style>
<body>
  <div id="app">
    <div class="loading-background d-flex justify-content-center align-items-center" v-if="isLoading">
      <div class="text-center">
        <h5>
          <span class="h4 text-primary">載</span>
          <span class="h4 text-success">入</span>
          <span class="h4 text-dark">中</span>
          <span class="h4 text-danger">請</span>
          <span class="h4 text-info">稍</span>
          <span class="h4 text-danger">候</span>
          <span class="h4 text-success">...</span>
        </h5>
        <br>
        <i class="fas fa-spinner fa-spin text-success fa-4x"></i>
      </div>
    </div>

    <header>
      <div class="banner d-flex justify-content-center align-items-center">
        <div>
          <h1 class="mb-5 text-white">高雄旅遊資訊網</h1>
          <select name="" id="" class="px-5 py-2 form-control" v-model="currentZone">
            <option value="" class="text-center" disabled>請選擇行政區...</option>
            <option :value='item' v-for="item in locations"> {{ item }} </option>
          </select>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 my-3" v-for="(item , key) in filterData[currentPage]">
            <div class="card h-100">
              <div class="card-header p-0">
                <img :src="item.Picture1" alt="" height="300px" width="100%">
              </div>
              <div class="card-body">
                <h3 class="h6 text-secondary"><span class="text-primary"><i class="fas fa-home"></i> </span> {{ item.Name }} </h3>
                <h3 class="h6 text-secondary"><span class="text-success"><i class="fas fa-thumbtack"></i> </span> {{ item.Add }} </h3>
                <h3 class="h6 text-secondary"><span class="text-warning"><i class="fas fa-phone-alt"></i> </span>{{ item.Tel }} </h3>
                <h3 class="h6 text-secondary"><span class="text-warning"><i class="far fa-clock"></i> </span>{{ item.Opentime }} </h3>
                <h3 class="h6 text-secondary" v-if="item.Ticketinfo"><span class="text-info"><i class="fas fa-clipboard-check"></i> </span> {{ item.Ticketinfo }} </h3>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center my-5 computerPagination">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" @click.prevent="currentPage = currentPage - 1" :class="{'pageDisabled': currentPage === 0}"> < </a></li>
            <li class="page-item" v-for="item in filterData.length" :class="{'active': currentPage + 1 === item}"><a class="page-link" href="#" @click.prevent="currentPage = (item - 1)"> {{ item }} </a></li>
            <li class="page-item"><a class="page-link" href="#" @click.prevent="currentPage = currentPage + 1" :class="{'pageDisabled': currentPage + 1 === pageLen}"> > </a></li>
          </ul>
        </nav>
        <div class="d-flex justify-content-center align-items-center my-5 phonePagination">
          第
          <select name="" id="" v-model="currentPage" class="p-2 mx-2">
            <option :value="(item - 1)" v-for="item in filterData.length" @click.prevent="currentPage = item"> {{ item }} </option>
          </select>
          頁
        </div>
      </div>  
    </section>

    <footer>
      <div class="footerBar">
        <div class="row">
          <div class="col-md-4 px-0"></div>
          <div class="col-md-4 text-center px-0">
            <h2 class="h5 text-secondary ml-auto">copyright &copy; 2021 YoYo游</h2>
          </div>
          <div class="col-md-4 text-right px-0">
            <ul class="d-flex ml-auto">
              <li class="mx-2 list-unstyled"><a href="https://www.facebook.com/YuTsungChih" target="_blank"><i class="fab fa-facebook-f text-success fa-2x"></i></a></li>
              <li class="mx-2 list-unstyled"><a href="https://www.instagram.com/youxiaaaaaa/" target="_blank"><i class="fab fa-instagram text-danger fa-2x"></i></a></li>
              <li class="mx-2 list-unstyled"><a href="https://github.com/Youxiaaa" target="_blank"><i class="fab fa-github text-info fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        data: [],
        isLoading: false,
        currentPage: 0,
        pageLen: 0,
        locations: [
          '鹽埕區',
          '鼓山區',
          '左營區',
          '楠梓區',
          '三民區',
          '新興區',
          '前金區',
          '苓雅區',
          '前鎮區',
          '旗津區',
          '小港區',
          '鳳山區',
          '林園區',
          '大寮區',
          '大樹區',
          '大社區',
          '仁武區',
          '鳥松區',
          '岡山區',
          '橋頭區',
          '燕巢區',
          '田寮區',
          '阿蓮區',
          '路竹區',
          '湖內區',
          '茄萣區',
          '永安區',
          '彌陀區',
          '梓官區',
          '旗山區',
          '美濃區',
          '六龜區',
          '甲仙區',
          '杉林區',
          '內門區',
          '茂林區',
          '桃源區',
          '那瑪夏區'
        ],
        currentZone: ''
      },
      computed: {
        filterData () {
          const vm = this
          const newData = []
          let items = []

          if (vm.currentZone !== '') {
            items = vm.data.filter((item) => {
              return item.Add.indexOf(vm.currentZone) !== -1
            })
          } else {
            items = vm.data
          }

          items.forEach((item , i) => {
            if (i % 20 === 0) {
              newData.push([])
            }
            const page = parseInt(i / 20)
            newData[page].push(item)
            vm.pageLen = newData.length
          })
          return newData
        }
      },
      created() {
        const vm = this
        const api = 'https://api.kcg.gov.tw/api/service/get/9c8e1450-e833-499c-8320-29b36b7ace5c'
        vm.isLoading = true
        axios.get(api).then((res) => {
          vm.data = res.data.data.XML_Head.Infos.Info
          vm.isLoading = false
        })
      }
    })
  </script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  
</body>
</html>